body {
    background-image: url("../images/bg.png");
}

.site {
    font-family: 'Holtwood One SC', sans-serif;
}

.logoResto {
    font-family: 'Holtwood One SC', sans-serif;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0;
    text-align: center;
}

.logoResto .fas {
    color: #ffd301;
    text-shadow: 0 0 #ffd301;
}

.nav {
    margin-bottom: 40px;
}

/* ARTICLES */

.thumbnail {
    background: white;
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Holtwood One SC', sans-serif;
}

.thumbnail img {
    background: #ffd301;
}

.top-right {
    background: #5cb85c;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);    
    color: white;
    text-shadow: 2px 2px #333;
    position: absolute;
    top: 20px;
    right: -6px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}

.top-right:before {
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-left: 4px solid #4a934a;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}

.caption h4 {
    color: #e7480f;
    font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #e7480f;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: #e7480f;
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}

.btn-order {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #e7480f;
    text-decoration: none;
    text-shadow: 2px 2px #333;
}

.btn-order:hover {
    color: white;
    background-color: #c13c0d;
}

.caption p {
    color: black;
}


/* ADMIN */


.admin {
    background: white;
    padding: 50px;
    border-radius: 10px;
}


/* INSERT */

form {
    width: 100%;
}

form label {
    font-weight: bold;
}

.help-inline {
    color: red;
}